#Login
{
	margin-top: -30%;
	margin-right: auto;
	margin-left: auto;
	width: 300px ;
	background-color: rgb(34,34,34);
	color: rgb(240, 240, 240);
	font-size: 10;
	border-radius: 25px;
	padding-top: 10px;
}

#head
{
	background: rgb(34, 34, 34);
	color: #eeeeee;
}

#body
{
	color: #eeeeee;
	background: rgb(34, 34, 34);
	text-align: center;
	border-radius: 10px;
	
}

input ::-webkit-input-placeholder {
	   text-align: center;
}

input:-moz-placeholder { /* Firefox 18- */
	   text-align: center;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   		text-align: center;  
}

input:-ms-input-placeholder {  
	   text-align: center; 
}